---
import type { ComponentProps } from "astro/types";

import PostList from "./PostList.astro";

type Props = {
  heading: string;
  posts: ComponentProps<typeof PostList>["posts"];
};

const { heading, posts } = Astro.props;
---

<nav aria-labelledby="post-list-navigation">
  <h1 id="post-list-navigation" class="heading">
    {heading}
  </h1>
  <PostList {...{ posts }} />
</nav>

<style>
  .heading {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
</style>
