---
import PostList, { type Props as PostListProps } from "./PostList.astro";

export type Props = {
  heading: string;
  posts: PostListProps["posts"];
};

const { heading, posts } = Astro.props;
---

<nav aria-labelledby="post-list-navigation">
  <h2 id="post-list-navigation" class="heading">
    {heading}
  </h2>
  <PostList {...{ posts }} />
</nav>

<style>
  .heading {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
</style>
