---
import PostLink, { type Props as PostLinkProps } from "./PostLink.astro";

export type Props = {
  posts: PostLinkProps[];
};

const { posts } = Astro.props;
---

<ol>
  {
    posts.map(({ title, date, slug }) => (
      <li>
        <PostLink {...{ title, date, slug }} />
      </li>
    ))
  }
</ol>

<style>
  ol {
    margin: 0;
    list-style-type: none;
  }
</style>
