---
import Date, { type Props as DateProps } from "./Date.astro";

export type Props = {
  slug: string;
  date: DateProps["date"];
  title: string;
};

const { slug, date, title } = Astro.props;
---

<a href={`/posts/${slug}`}>
  <div class="date"><Date {...{ date }} /></div>
  <h3 class="title">{title}</h3>
</a>

<style>
  a {
    display: block;
    margin-left: -0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-secondary);
      text-decoration-line: none;
    }

    & .date {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: var(--text-secondary);
    }

    & .title {
      margin: 0;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 600;
    }
  }
</style>
