---
import type { ComponentProps } from "astro/types";

import PostLink from "./PostLink.astro";

type Props = {
  posts: readonly ComponentProps<typeof PostLink>[];
};

const { posts } = Astro.props;
---

<ol>
  {
    posts.map(post => (
      <li>
        <PostLink {...post} />
      </li>
    ))
  }
</ol>

<style>
  ol {
    margin: 0;
    list-style-type: none;
  }
</style>
