---
import Date, { type Props as DateProps } from "./Date.astro";

export type Props = {
  slug: string;
  date: DateProps["date"];
  title: string;
};

const { slug, date, title } = Astro.props;
---

<a
  class="-ml-2 block rounded-lg p-2 text-gray-50 hover:bg-slate-800 hover:no-underline"
  href={`/posts/${slug}`}
>
  <div class="text-sm font-medium text-gray-300">
    <Date {...{ date }} />
  </div>
  <h3 class="m-0 text-lg font-semibold">{title}</h3>
</a>
