---
import type { ComponentProps } from "astro/types";

import TagLink from "./TagLink.astro";

type Props = {
  tags: readonly ComponentProps<typeof TagLink>[];
};

const { tags } = Astro.props;
---

<ul>
  {
    tags.map(tag => (
      <li>
        <TagLink {...tag} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 0;
    list-style-type: none;

    & li {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
    }
  }
</style>
