---
import TagLink, { type Props as TagLinkProps } from "./TagLink.astro";

export type Props = {
  tags: TagLinkProps[];
};

const { tags } = Astro.props;
---

<ul class="m-0 flex list-none flex-wrap gap-1">
  {
    tags.map(({ slug, name }) => (
      <li class="text-xs font-medium">
        <TagLink {...{ slug, name }} />
      </li>
    ))
  }
</ul>
