---
import type { ComponentProps } from "astro/types";

import TagList from "./TagList.astro";

type Props = {
  ariaLabel: string;
  tags: ComponentProps<typeof TagList>["tags"];
};

const { ariaLabel, tags } = Astro.props;
---

<nav aria-label={ariaLabel}>
  <TagList {...{ tags }} />
</nav>
