---
import TagList, { type Props as TagListProps } from "./TagList.astro";

export type Props = {
  ariaLabel: string;
  tags: TagListProps["tags"];
};

const { ariaLabel, tags } = Astro.props;
---

<nav aria-label={ariaLabel}>
  <TagList {...{ tags }} />
</nav>
