---
import type { ComponentProps } from "astro/types";

import TagsNav from "@/components/TagsNav.astro";
import { AUTHOR_NAME } from "@/constants";

type Props = {
  layout: string;
  tags: ComponentProps<typeof TagsNav>["tags"];
};

const { layout, tags } = Astro.props;
const year = new Date().getFullYear();
---

<footer style={layout}>
  <TagsNav ariaLabel="すべてのタグ" {...{ tags }} />
  <div>
    <small>&copy; {year} {AUTHOR_NAME}</small>
  </div>
</footer>

<style>
  footer {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;

    & div {
      text-align: right;

      & small {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--text-secondary);
      }
    }
  }
</style>
