---
import type { ComponentProps } from "react";

import TagsNav from "@/components/TagsNav.astro";
import { AUTHOR_NAME } from "@/constants";

type Props = {
  tags: ComponentProps<typeof TagsNav>["tags"];
  class?: string;
};

const { tags } = Astro.props;
const year = new Date().getFullYear();
const { class: style } = Astro.props;
---

<footer class={`flex flex-col gap-6 py-12 h-fit ${style}`}>
  <TagsNav ariaLabel="すべてのタグ" {...{ tags }} />
  <div class="text-right">
    <small class="text-sm text-gray-300">
      &copy; {`${year} ${AUTHOR_NAME}`}
    </small>
  </div>
</footer>
