---
import { AUTHOR_NAME, SITE_TITLE } from "@/constants";
import GitHub from "@/icons/GitHub.astro";
import Twitter from "@/icons/Twitter.astro";
import ProfileImage from "./ProfileImage.astro";
import SnsLink from "./SnsLink.astro";

type Props = {
  layout: string;
};

const { layout } = Astro.props;
---

<header style={layout}>
  <a href="/">
    <ProfileImage height={36} width={36} />
    <span class="title">{SITE_TITLE}</span>
  </a>
  <nav aria-label={`${AUTHOR_NAME}のSNS`}>
    <ul>
      <li>
        <SnsLink href="https://twitter.com/rusconn" ariaLabel="rusconnのTwitterへ">
          <Twitter class="icon" />
        </SnsLink>
      </li>
      <li>
        <SnsLink href="https://github.com/rusconn" ariaLabel="rusconnのGitHubへ">
          <GitHub class="icon" />
        </SnsLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      display: flex;
      gap: 0.5rem;
      margin-left: -0.5rem;
      border-radius: 0.5rem;
      padding: 0.5rem;

      &:hover {
        background-color: var(--bg-secondary);
      }

      & .title {
        margin: 0;
        height: 2.25rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
      }
    }

    & nav ul {
      display: flex;

      & li {
        line-height: normal;

        & .icon {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
</style>
