---
import { SITE_TITLE, TAGS } from "@/constants";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = "Blog posts by @rusconn" } = Astro.props;
const tags = TAGS;
---

<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="LlndxXYLHOwTH1LOIcckAWY3xg3y9TMfL-U__wnKAFw" />
  </head>
  <body class="grid grid-rows-[0_3.25rem_1fr_auto] grid-cols-[1fr_minmax(20rem,_48rem)_1fr] gap-y-12 min-h-screen bg-slate-900 leading-relaxed text-gray-50">
    <Header class="row-start-2 col-start-2 px-6" />
    <main class="row-start-3 col-start-2 px-6"><slot /></main>
    <div class="row-start-4 col-span-full border-t border-gray-600 bg-slate-800" />
    <Footer class="row-start-4 col-start-2 z-10 px-6" {...{tags}} />
  </body>
</html>
