---
import { SITE_TITLE, TAGS } from "@/constants";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = "Blog posts by @rusconn" } = Astro.props;
const tags = TAGS;
---

<html lang="ja" class="h-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="LlndxXYLHOwTH1LOIcckAWY3xg3y9TMfL-U__wnKAFw" />
  </head>
  <body class="h-full bg-slate-900 leading-relaxed text-gray-50">
    <div class="flex min-h-full flex-col gap-y-12">
      <div class="invisible"></div>
      <Header />
      <main class="flex grow justify-center">
        <div class="w-full max-w-3xl px-6"><slot /></div>
      </main>
      <Footer {...{tags}} />
    </div>
  </body>
</html>
