---
import { SITE_TITLE, TAGS } from "@/constants";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = "Blog posts by @rusconn" } = Astro.props;
const tags = TAGS;
---

<html lang="ja" class="h-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="LlndxXYLHOwTH1LOIcckAWY3xg3y9TMfL-U__wnKAFw" />
  </head>
  <body class="h-full bg-slate-900 leading-relaxed text-gray-50">
    <div class="flex min-h-full flex-col gap-y-12">
      <div class="invisible"></div>
      <Header />
      <main class="flex grow justify-center">
        <div class="w-full max-w-3xl px-6"><slot /></div>
      </main>
      <Footer {...{tags}} />
    </div>
  </body>
</html>

<style is:global>
  blockquote,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply my-6;
  }

  h1 {
    @apply mt-16 text-2xl font-bold;
  }

  h2 {
    @apply mt-14 text-xl font-semibold;
  }

  h3 {
    @apply mt-12 text-lg font-semibold;
  }

  h4 {
    @apply mt-10 font-semibold;
  }

  h5 {
    @apply mt-8 font-semibold;
  }

  h6 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply ml-8;
  }

  ul {
    @apply list-disc;
  }

  ul ul {
    @apply list-circle;
  }

  ul ul ul {
    @apply list-square;
  }

  ol {
    @apply list-decimal;
  }

  dt {
    @apply font-bold;
  }

  a {
    @apply text-sky-400 hover:underline;
  }

  blockquote {
    @apply relative px-4 text-gray-400 before:absolute before:h-full before:w-1 before:left-0 before:bg-gray-500;
  }

  /* 内容は画像一枚とキャプションのみの想定、それ以外を入れる場合はスタイルの見直しが必要 */
  figure {
    @apply flex flex-col items-center gap-2;
  }

  figcaption {
    @apply text-gray-400;
  }

  pre {
    @apply overflow-x-scroll;
  }

  code {
    @apply text-sm;
  }
</style>
