---
import { SITE_TITLE, TAGS } from "@/constants";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = "Blog posts by @rusconn" } = Astro.props;
const tags = TAGS;
---

<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="LlndxXYLHOwTH1LOIcckAWY3xg3y9TMfL-U__wnKAFw" />
  </head>
  <body
    class="grid min-h-screen grid-cols-[1fr_minmax(20rem,_48rem)_1fr] grid-rows-[0_3.25rem_1fr_auto] gap-y-12 bg-slate-900 leading-relaxed text-gray-50"
  >
    <Header class="col-start-2 row-start-2 px-6" />
    <main class="col-start-2 row-start-3 px-6"><slot /></main>
    <div class="col-span-full row-start-4 border-t border-gray-600 bg-slate-800"></div>
    <Footer class="z-10 col-start-2 row-start-4 px-6" {...{ tags }} />
  </body>
</html>
