---
import type { CollectionEntry } from "astro:content";

import Date from "@/components/Date.astro";
import TagsNav from "@/components/TagsNav.astro";
import { TAGS } from "@/constants";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description, date, tags: tagSlugs } = Astro.props;
const tags = TAGS.filter(tag => tagSlugs.includes(tag.slug));
---

<Layout {...{ title, description }}>
  <article>
    <div class="date"><Date {...{ date }} /></div>
    <h1 class="title">{title}</h1>
    <div class="tags-nav"><TagsNav ariaLabel="記事のタグ" {...{ tags }} /></div>
    <div class="markdown"><slot /></div>
  </article>
</Layout>

<style>
  article {
    & .date {
      font-weight: 500;
      color: var(--text-secondary);
    }

    & .title {
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }

    & .tags-nav {
      margin-top: 0.5rem;
      color: var(--text-secondary);
    }

    & .markdown {
      margin-top: 3rem;

      > :last-child {
        margin-bottom: 0;
      }

      & :where(blockquote, dl, h2, h3, h4, h5, h6, hr, figure, p, pre) {
        margin: 1.5rem 0;
      }

      & h2 {
        margin-top: 3rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
      }

      & h3 {
        margin-top: 2.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
      }

      & h4 {
        margin-top: 2rem;
        font-weight: 600;
      }

      & h5 {
        font-weight: 600;
      }

      & :where(ul, ol) {
        margin-left: 2rem;
      }

      & ul {
        list-style-type: disc;
      }

      & ul ul {
        list-style-type: circle;
      }

      & ul ul ul {
        list-style-type: square;
      }

      & ol {
        list-style-type: decimal;
      }

      & dt {
        font-weight: 700;
      }

      & a {
        color: var(--text-link);

        &:hover {
          text-decoration-line: underline;
        }
      }

      & blockquote {
        position: relative;
        padding: 0 1rem;
        color: var(--text-muted);

        ::before {
          position: absolute;
          height: 100%;
          width: 0.25rem;
          left: 0;
          background-color: rgb(107 114 128);
        }
      }

      /* 内容は画像一枚とキャプションのみの想定、それ以外を入れる場合はスタイルの見直しが必要 */
      & figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      & figcaption {
        color: var(--text-muted);
      }

      & pre {
        overflow-x: scroll;
        padding: 1rem;
      }

      & code {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
</style>
