---
type Props = {
  href: string;
  ariaLabel: string;
};

const { href, ariaLabel } = Astro.props;
---

<a {...{ href }} target="_blank" rel="noopener noreferrer" aria-label={ariaLabel}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    border-radius: 9999px;
    padding: 0.5rem;
    vertical-align: middle;
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-secondary);
      text-decoration-line: none;
    }
  }
</style>
